.input{
    width:37vh;
    height:60px;
    border-radius: 16px;
    background-color: #dfb951;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    border-color: #ECF0F1;
    border: none;
    padding: 10px;
    box-shadow: 0 4px #1F2D3A, 0 6px 10px rgba(0, 0, 0, 0.2)
}

.input::placeholder {
    color: black;
}